<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id = "phone"
class = "myclasses.FirstPhone"/>
<bean id = "phone1"
class = "myclasses.SecondPhone"><constructor-arg value = "102"/></bean>
<bean id = "myVideo"
class = "myclasses.MyVideo"/>
<bean id = "videoPhone"
class = "myclasses.VideoPhone"><constructor-arg ref = "myVideo"/><constructor-arg value = "103"/></bean>
<bean id = "myShop"
class = "myclasses.Shop"
factory-method = "getInstance"/>
<bean id = "SharePhoto"
class = "myclasses.SharePhoto"/>
<bean id = "ShareBook"
class = "myclasses.ShareBook"/>
<bean id = "mySuperPh"
class = "myclasses.SuperPhone">
<property name="message" value = "hello"></property>
<property name = "firstSF" ref = "SharePhoto"></property>
</bean>
<bean id = "SuperPuperPhone"
class = "myclasses.SuperPuperPhone">
<property name = "files">
<list><ref bean = "SharePhoto"/>
<ref bean ="ShareBook"/>
</list></property></bean>
<bean id = "SuperPuperPhoneNew"
class = "myclasses.SuperPuperPhoneNew">
<property name = "files">
<map><entry key = "sharephoto" value-ref = "SharePhoto"/>
<entry key = " sharebook" value-ref ="ShareBook"/>
</map></property></bean>
</beans>
